ul {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

li {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 1.5rem;
}